<html>
   <body>
    <div style="max-width: 670px; background-color: #060B1C; font-family: &quot;Inter&quot;, BlinkMacSystemFont, -apple-system, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif !important;">
           <table style="width: 100%;">
               <tr>
                   <td style="text-align: center;">
                       <img style="width: 12rem; height: auto; margin-top: 6rem;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/digest.png" alt="Logo">
                   </td>
               </tr>
           </table>

           <a href="https://example.com" style="color: #fff; font-size: 2rem; font-weight: 800; text-align: center; display: block; text-decoration: none; margin: 4rem 4rem 0 4rem;">
               "{{ headline }}"
           </a>

           <table style="width: 100%;">
               <tr>
                   <td style="text-align: center;">
                      <div style="display: inline-block; width: 35px; height: 2px; background-color: #fff; border-radius: 10px; margin: 1rem 0 1rem 0;">

                      </div>
                   </td>
               </tr>
           </table>

           <p style="color: #B4B6BB; font-size: .8rem; font-weight: 400; text-align: center; margin: 0;">
               <!-- TODO date -->
               Friday, August 25, 2023
           </p>

           <div style="margin: 4rem 4.5rem 0 4.5rem">
               <img style="width: 100%; height: auto; border-radius: 10px;" src="{{ image }}" alt="Headline image">
           </div>

           {% if includeBets %}
           <table style="width: 100%;">
               <tr>
                   <td style="width: 4rem;">
                       <img style="width: 100%; height: auto; margin-top: 14rem;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/curve-left.png" alt="Logo">
                   </td>
                   <td>
                       <img style="width: auto; height: 35px; display: block; margin: 2rem auto 0 auto;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/betting-lines.png" alt="Betting Lines">

                       <div style="height: 10rem;"></div>
                   </td>
                   <td style="width: 4rem;">
                       <img style="width: 100%; height: auto; margin-top: .5rem;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/curve-right.png" alt="Logo">
                   </td>
               </tr>
           </table>
           {% endif %}

        <div style="background-color: #FBBCA2; border-radius: 10px; padding: 1.5rem 2rem 2rem 2rem; margin: 6rem 4rem 4rem 4rem;">
            <img style="width: auto; height: 23px; display: block; margin: 0 auto 0 auto;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/rumors.png" alt="Rumors">

            {% for rumor in rumors %}
            {% if loop.index % 2 != 0 %}

            <a href="{{ rumor.link }}" style="text-decoration: none; color: #060B1C; margin-top: 1.5rem; display: block; background-color: #EDB299; padding: 1rem 1rem 1rem 1rem; border-radius: 10px;">
                <p style="text-decoration: none; font-weight: 600; font-size: 16px; color: #060B1C; margin: 0; vertical-align: middle;">
                    <img style="width: 10px; height: auto; margin: 0rem .4rem 0 0;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/lightbulb.png" alt="Logo">

                        {{ rumor.title }}
                    </p>
                <p style="margin: .5rem 0 0 1.5rem; color: #292D3D; font-size: 14px;">
                        &mdash; {{ rumor.author }}
                    </p>
            </a>
            {% endif %}
            {% if loop.index % 2 != 0 %}
            <a href="{{ rumor.link }}" style="text-decoration: none; color: #060B1C; margin-top: 1.5rem; display: block; padding: 0 1rem 0 1rem; border-radius: 10px;">
                <p style="text-decoration: none; font-weight: 600; font-size: 16px; color: #060B1C; margin: 0; vertical-align: middle;">
                    <img style="width: 10px; height: auto; margin: 0rem .4rem 0 0;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/lightbulb.png" alt="Logo">

                    {{ rumor.title }}
                </p>
                <p style="margin: .5rem 0 0 1.5rem; color: #292D3D; font-size: 14px;">
                    &mdash; {{ rumor.author }}
                </p>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <img style="width: auto; height: 35px; display: block; margin: 6rem auto 3rem auto;" src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/your-stories.png" alt="Stories For you">

        {% for article in articles %}
        <a href="{{ article.link }}" style="display: block; margin: 2rem 4rem 0 4rem; color: #fff; text-decoration: none;">
            <table>
                <tr>
                    <td style="margin-right: 1rem">
                        <img style="width: 6rem; height: auto; margin: 0 .4rem 0 0; border: solid 2px #747B94; border-radius: 10px;" src="https://media.bleacherreport.com/image/upload/w_40,h_27,c_fill/v1692888249/wr0flcthoee5lcu7non1.jpg" alt="Logo">
                    </td>

                    <td>
                        <p style="font-size: 16px; font-weight: 600; color: #fff; margin: 0;">
                            {{ article.title }}
                        </p>

                        <p style="font-size: 14px; font-weight: 400; color: #747B94; margin-top: .5rem">
                            {{ article.content.substring(0, 20) }}...
                        </p>
                    </td>
                </tr>
            </table>
        </a>
        {% endfor %}
    
        <div style="height: 10rem" />
       </div>
   </body>
</html>