<html>

<body>
    <div
        style="max-width: 670px; background-color: #060B1C; font-family: &quot;Inter&quot;, BlinkMacSystemFont, -apple-system, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif !important;">
        <table style="width: 100%;">
            <tr>
                <td style="text-align: center;">
                    <img style="width: 12rem; height: auto; margin-top: 6rem;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/digest.png"
                        alt="Logo">
                </td>
            </tr>
        </table>

        <p
            style="color: #fff; font-size: 2rem; font-weight: 800; text-align: center; display: block; text-decoration: none; margin: 4rem 4rem 0 4rem;">
            {{ headline }}
            </a>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: center;">
                    <div
                        style="display: inline-block; width: 35px; height: 2px; background-color: #fff; border-radius: 10px; margin: 1rem 0 1rem 0;">

                    </div>
                </td>
            </tr>
        </table>

        <p style="color: #B4B6BB; font-size: .8rem; font-weight: 400; text-align: center; margin: 0;">
            <!-- TODO date -->
            Friday, August 25, 2023
        </p>

        <div style="margin: 4rem 4.5rem 0 4.5rem">
            <img style="width: 100%; height: auto; border-radius: 10px;" src="{{ image }}" alt="Headline image">
        </div>

        {% if includeBets %}
        <table style="width: 100%;">
            <tr>
                <td style="width: 4rem;">
                    <img style="width: 100%; height: auto; margin-top: 14rem;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/curve-left.png"
                        alt="Logo">
                </td>
                <td>
                    <img style="width: auto; height: 35px; display: block; margin: 2rem auto 0 auto;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/betting-lines.png"
                        alt="Betting Lines">

                    <table style="width: calc(100% - 3rem); border-collapse:collapse; border: none; margin: 1rem 1.5rem 0 1.5rem;">
                        <tbody>
                        <tr>
                            <td>
                                <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
                                       style="border-collapse:collapse; color: #747B94; table-layout: fixed; font-size: 10px; padding-bottom: 1rem;">
                                    <tbody>
                                    <tr>
                                        <td style="width: 34%">
                                            Game
                                            <div style="height: .5rem" />
                                        </td>
                                        <td style="width: 27%">
                                            Open
                                            <div style="height: .5rem" />
                                        </td>
                                        <td style="width: 27%">
                                            Best Odds
                                            <div style="height: .5rem" />
                                        </td>
                                        <td style="width: 20% !important">
                                            % of Bets
                                            <div style="height: .5rem" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td class="m_-1354674820645929782pad5m" style="border-bottom:1px solid #292D3D;">
                            </td>
                        </tr>

                        <tr>
                            <td class="m_-1354674820645929782pads10 m_-1354674820645929782pads6m"
                                style="padding-bottom:0;text-align:center;border-top:1px solid #e6e6e6">
                                <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
                                       style="border-collapse:collapse; color: #fff; font-size: 13px !important; font-weight: 600; table-layout: fixed;">
                                    <tbody>
                                    {% for bet in bets %}
                                    <tr>
                                        <td class="m_-1354674820645929782markets-ticker-cell" valign="middle"
                                            style="width:34%">
                                            <div class="css-1wjesfo ev4q0cy0">
                                                <div class="game-info__teams">
                                                    <div class="game-info__team" style="display: inline-block;">
                                                        <div class="game-info__team-info">
                                                            <div class="game-info__team--desktop"
                                                                 style="display: inline-block; vertical-align: middle;">
                                                                <img
                                                                    src="{{ bet.home_team_image_url }}"
                                                                    height="24" class="game-info__team-icon">
                                                            <span style="display: inline-block; vertical-align: middle; line-height: 25px;  padding-left: 10px;">
                                                                {{ bet.home_team }}
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="game-info__teams">
                                                    <div class="game-info__team" style="display: inline-block;">
                                                        <div class="game-info__placeholder" style="display: inline-block;">
                                                            <div class="game-info__team-info"
                                                                 style="display: inline-block;">
                                                                <div class="game-info__team--desktop"
                                                                     style="display: inline-block;">
                                                                    <img
                                                                        src="{{ bet.away_team_image_url }}"
                                                                        height="24" class="game-info__team-icon">
                                                                    <span style=" padding-left: 10px;"
                                                                        >{{ bet.away_team }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- <td class="m_-1354674820645929782markets-value-cell" valign="middle"
                                            style="width:34%">
                                            <p class="m_-1354674820645929782markets-table-text"
                                                style="line-height:22px;margin-top:0;margin-bottom:15px;padding:0;margin:0;font-size:16px;white-space:nowrap;font-weight:bold;vertical-align:middle;line-height:1em;text-align:left">
                                                34,288.83</p>
                                        </td> -->
                                        <td style="width: 27% !important">
                                            <div class="public-betting__odds-container">
                                                <div class="css-heay3u ena22470">
                                                    <div data-testid="book-cell__odds" class="book-cell__odds"><span
                                                            style="margin-bottom: 1rem; display: block;">{{ bet.home_open }}</span>
                                                    </div>
                                                    <div class="css-heay3u ena22470">
                                                        <div data-testid="book-cell__odds" class="book-cell__odds">
                                                        <span style="display: block;">{{ bet.away_open }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 27% !important">
                                            <div class="public-betting__odds-container">
                                                <div class="css-heay3u ena22470">
                                                    <div data-testid="book-cell__odds" class="book-cell__odds"><span
                                                            style="margin-bottom: 1rem; display: block;">{{ bet.home_team_bets_odds }}</span>
                                                    </div>
                                                    <div class="css-heay3u ena22470">
                                                        <div data-testid="book-cell__odds" class="book-cell__odds">
                                                            <span style="display: block;">{{ bet.away_team_bets_odds }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td valign="middle" style="width:20%;padding-top:8px;padding-bottom:8px">
                                            <table role="presentation" cellpadding="0" cellspacing="0" border="0"
                                                   style="width:100%;border-collapse:separate;margin:0 auto; border-spacing: 4px;">
                                                <tbody>
                                                <tr>
                                                    <td valign="middle"
                                                        style="padding-left:8px;padding-right:8px;padding-top:10px;padding-bottom:10px;border-radius:8px;color: #fff; background-color: #292D3D;">
                                                        <p class="m_-1354674820645929782markets-table-text"
                                                           style="line-height:22px;margin-top:0;margin-bottom:15px;padding:0;margin:0;font-size:16px;white-space:nowrap;font-weight:bold;vertical-align:middle;line-height:1em;text-align:center">
                                                            {{ bet.home_team_bets_percentage }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"
                                                        style="padding-left:8px;padding-right:8px;padding-top:10px;padding-bottom:10px;border-radius:8px; color: #fff; background-color: #292D3D;">
                                                        <p class="m_-1354674820645929782markets-table-text"
                                                           style="line-height:22px;margin-top:0;margin-bottom:15px;padding:0;margin:0;font-size:16px;white-space:nowrap;font-weight:bold;vertical-align:middle;line-height:1em;text-align:center">
                                                            {{ bet.away_team_bets_percentage }}</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- Maybe use this for the quick summary? No idea... im tired af -->
                        <!-- <tr>
                            <td style="padding:3px 15px 10px 15px">
                                <p
                                    style="line-height:22px;margin-top:0;margin-bottom:15px;padding:0;margin:0;text-align:left;font-size:13px">
                                    *Do.
                                    <a rel="noopener"
                                        href="https://links.morningbrew.com/c/s1?mbcid=32480689.646603&amp;mid=73c5c88bfa24be0ff8297f13ed5ebdc5"
                                        style="border-bottom:1px solid #1c7ff2;text-decoration:none;color:#333" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://links.morningbrew.com/c/s1?mbcid%3D32480689.646603%26mid%3D73c5c88bfa24be0ff8297f13ed5ebdc5&amp;source=gmail&amp;ust=1693025221245000&amp;usg=AOvVaw3bMSiPZaKXFWn2aCrp6A3e">Here's
                                        what these numbers mean.</a>
                                </p>
                            </td>
                        </tr> -->

                        <!-- <tr>
                            <td style="padding:0px 15px">
                                <ul style="margin-top:0;padding-left:30px">
                                    <li style="line-height:22px;margin-bottom:10px">
                                        <span><strong style="color:#000">Markets: </strong></span><span>A rough August for the
                                            S&amp;P 500 </span><span><a
                                                href="https://links.morningbrew.com/c/b0W?mblid=e0b935bbd2f5&amp;mbcid=32480689.646603&amp;mid=73c5c88bfa24be0ff8297f13ed5ebdc5"
                                                style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://links.morningbrew.com/c/b0W?mblid%3De0b935bbd2f5%26mbcid%3D32480689.646603%26mid%3D73c5c88bfa24be0ff8297f13ed5ebdc5&amp;source=gmail&amp;ust=1693025221245000&amp;usg=AOvVaw1ymcyXgrpBaQnGYAPPFi6h">didn’t
                                                get any better</a></span><span> yesterday. Shares of US banks fell after several
                                            regional lenders were hit with a credit downgrade. And retailers, which you’ll read
                                            about in a bit, have a glut of products that aren’t selling. In a sign of those
                                            consumer worries, Nike shares notched their longest losing streak ever, falling for
                                            the ninth straight day.</span>
                                    </li>
                                </ul>
                                <div style="display:none">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px 20px">
                            </td>
                        </tr>
                    </tbody> -->
                    </table>
                </td>
                <td style="width: 4rem;">
                    <img style="width: 100%; height: auto; margin-top: .5rem;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/curve-right.png"
                        alt="Logo">
                </td>
            </tr>
        </table>
        {% endif %}

        <div
            style="background-color: #FBBCA2; border-radius: 10px; padding: 1.5rem 2rem 2rem 2rem; margin: 6rem 4rem 4rem 4rem;">
            <img style="width: auto; height: 23px; display: block; margin: 0 auto 0 auto;"
                src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/rumors.png" alt="Rumors">

            {% for rumor in rumors %}
            {% if loop.index % 2 != 0 %}

            <a href="{{ rumor.link }}"
                style="text-decoration: none; color: #060B1C; margin-top: 1.5rem; display: block; background-color: #EDB299; padding: 1rem 1rem 1rem 1rem; border-radius: 10px;">
                <p
                    style="text-decoration: none; font-weight: 600; font-size: 16px; color: #060B1C; margin: 0; vertical-align: middle;">
                    <img style="width: 10px; height: auto; margin: 0rem .4rem 0 0;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/lightbulb.png"
                        alt="Logo">

                    {{ rumor.title }}
                </p>
                <p style="margin: .5rem 0 0 1.5rem; color: #292D3D; font-size: 14px;">
                    &mdash; {{ rumor.author }}
                </p>
            </a>
            {% endif %}
            {% if loop.index % 2 == 0 %}
            <a href="{{ rumor.link }}"
                style="text-decoration: none; color: #060B1C; margin-top: 1.5rem; display: block; padding: 0 1rem 0 1rem; border-radius: 10px;">
                <p
                    style="text-decoration: none; font-weight: 600; font-size: 16px; color: #060B1C; margin: 0; vertical-align: middle;">
                    <img style="width: 10px; height: auto; margin: 0rem .4rem 0 0;"
                        src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/lightbulb.png"
                        alt="Logo">

                    {{ rumor.title }}
                </p>
                <p style="margin: .5rem 0 0 1.5rem; color: #292D3D; font-size: 14px;">
                    &mdash; {{ rumor.author }}
                </p>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <img style="width: auto; height: 35px; display: block; margin: 6rem auto 3rem auto;"
            src="https://raw.githubusercontent.com/baileyg2016/dribbleDigest/main/assets/your-stories.png"
            alt="Stories For you">

        {% for article in articles %}
        <a href="{{ article.link }}"
            style="display: block; margin: 2rem 4rem 0 4rem; color: #fff; text-decoration: none;">
            <table>
                <tr>
                    <td style="margin-right: 1rem">
                        <img style="width: 6rem; height: auto; margin: 0 .4rem 0 0; border: solid 2px #747B94; border-radius: 10px;"
                            src="{{ article.image }}" alt="Logo">
                    </td>

                    <td>
                        <p style="font-size: 16px; font-weight: 600; color: #fff; margin: 0;">
                            {{ article.title }}
                        </p>

                        <p style="font-size: 14px; font-weight: 400; color: #747B94; margin-top: .5rem">
                            {{ article.content[0:20] }}...
                        </p>
                    </td>
                </tr>
            </table>
        </a>
        {% endfor %}

        <div style="height: 10rem" />
    </div>
</body>

</html>